body {
    font-family: 'Nanum Gothic', sans-serif;
    background: url('../images/interlaced.png');
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    box-sizing: border-box;
    width: 960px;
    height: auto;
    margin: auto;
    border: lightslategrey 1px solid;
    padding: 20px;
    text-align: center;
    color: #444444;
    border-radius: 25px;
    position: relative;
}

#timer {
    background: whitesmoke;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    z-index: -1;
    overflow: hidden;
}

#timer-fill {
    width: 100%;
    height: 100%;
}

.timer-path {
    stroke: '#57a4b8',
}

.bg-box {
    background: whitesmoke;
    border-radius: 15px;
}

.answer-box {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    overflow: hidden;

}

/* .bl-radius {
    border-bottom-left-radius: 15px;
}

.br-radius {
    border-bottom-right-radius: 15px;
} */

.title {
    font-size: 4rem;
    font-weight: bold;
    padding-top: .5em;
    margin-bottom: .5em;
}

#question {
    font-size: 2rem;
    margin-bottom: 1em;
    min-height: 3em;
    padding-left: 1em;
    padding-right: 1em;
}

.aspect-ratio-box {
    position: relative;
    height: 0;
    padding-top: calc( 5 / 8 * 100%);
    width: 100%;
}

.answer {
    /* padding: 5rem 0; */
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.5rem;
    color: #444444;
    background: whitesmoke;
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.answer:hover {
    color: white;
}

.answer:focus {
    outline: none;
}

.blue:hover {
    background: rgb(87, 164, 184);
}

.goldenrod:hover {
    background: rgb(245, 180, 34);
}

.red:hover {
    background: rgb(242, 2, 5);
}

.brown:hover {
    background: rgb(97, 61, 47);
}

.black-scene {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient( to bottom,
        rgb(72,61,47), 
        rgb(72,61,47) 15%, 
        rgb(69,52,44) 85%, 
        rgb(69,52,44));
    background-size: 100% 15px;
    border-radius: 25px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-top: 150px solid black;  
    border-bottom: 150px solid black;
    box-sizing: border-box;
    color: white;
    font-family: "Libre Caslon Display", sans-serif;
}

.black-scene-number {
    font-size: 4rem;
    margin: auto;
}

.black-scene-message-box {
    position: absolute;
    bottom: 1em;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    width: 50%;
}

.black-scene-message {
    text-align: center;
    flex-grow: 1;
}

.title-screen {
    position: absolute;
    top: 0;
    left: 0;
    background: whitesmoke;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-title {
    font-size: 5rem;
    font-weight: bold;
    position: relative;
    bottom: 2rem;
}

.end-message {
    font-size: 3rem;
    font-weight: bold;
    position: relative;
}

.start-btn {
    display: grid;
    position: relative;
    top: 4rem;
    width: 300px;
    height: 150px;
    outline: none;
    border: none;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 4rem;
    cursor: pointer;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    border: 0px solid black;
    border-radius: 15px;
    overflow: hidden;
    transition: all .2s ease-in-out;

}

.play-again .start-btn-text {
    font-size: 3rem;
    margin-inline-end: 2rem;
    margin-inline-start: 2rem;
}

.start-btn:hover {
    transform: scale( 1.05 );
}


.start-btn-text {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-btn>div:not(:last-child) {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-right-width: 100%;
    border-right-style: solid;
    grid-column-end: span 1;
    grid-row-end: span 1;
}

.start-btn>div:nth-child(1) {
    grid-row-start: 1;
    grid-column-start: 1;
    background: rgb(87, 164, 184);
}

.start-btn>div:nth-child(2) {
    grid-row-start: 1;
    grid-column-start: 2;
    background: rgb(245, 180, 34);
}

.start-btn>div:nth-child(3) {
    grid-row-start: 2;
    grid-column-start: 1;
    background: rgb(242, 2, 5);
}

.start-btn>div:nth-child(4) {
    grid-row-start: 2;
    grid-column-start: 2;
    background: rgb(97, 61, 47);
}


@media screen and (max-width: 980px) {
    .container {
        width: 600px;
        height: auto;
    }
}

@media screen and (max-width: 680px) {
    body {
        background: black;
    }
    .container {
        width: 100%;
        height: 100vh;
        border: none;
    }
    .title {
        font-size: 3rem;
    }
    .main-title {
        font-size: 4rem;
    }
    .answer-box {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }
    .answer {
        padding: 0;
    }
    .aspect-ratio-box {
        position: relative;
        height: 0;
        padding-top: calc( 5 / 8 * 100%);
        width: 100%;
    }
    .black-scene-message-box {
        width: 75%;
    }
}